body {
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 2ex 2em;
}

div#header {
	width:100%;
	background: #fafafa;
	padding: 1.5ex 0em;
	margin: 0 0 3ex 0;
	border-style: solid;
	border-width: 1px 0;
	border-color: #c91c1c;
	text-align: center;
}

div#toc {
    font-size: smaller;
	width: 15em;
	float:right;
	padding: 1.5ex 1.5em;
	margin: 0 0 0 2em;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

div#toc h1 {
  color: #5c5c5c;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #eeeeee;
  margin: 0;
}

div#toc h2 {
  color: #5c5c5c;
  font-size: 100%;
  font-weight: bold;
  border: none;
}

div#toc ul {
  list-style-type: none;
  padding: 0;
}

div#toc li {
}

pre {
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  white-space: pre;
}

pre.titleclaim {
  background: transparent;
  border: none;
  color: green;
  padding: 0 1em;
  white-space: pre;
}

h1 {
  background: transparent;
  color: #5c5c5c;
  font-size: 120%;
  font-weight: bold;
}

h1 .basename {
  color: #aa0000;
}

h2      {
  font-size: 100%;
  font-weight: bold;
  color: #5c5c5c;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #eeeeee;
  margin: 10px 0 0 0;
}

h3      {
  background: transparent;
  color: #5c5c5c;
  font-size: 100%;
}

h4      {
  background: transparent;
  color: #5c5c5c;
  font-size: 1em;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #aa0000;
}
a:visited {
  color: #aa0000;
}
a:hover {
  color: #aa0000;
  text-decoration: underline;
}

h1 a {
  text-decoration: none;
  color: #5c5c5c;
}
h1 a:visited {
  color: #5c5c5c;
}
h1 a:hover {
  color: #aa0000;
  text-decoration: none;
}

h2 a { text-decoration: none; }
h3 a { text-decoration: none; }
h4 a { text-decoration: none; }

span.keyword {color: #00f}
span.keyword2 {color: #808}
span.number {color: #f00}
span.identifier {color: #a66}
span.function {color: #bb5500}
span.method {color: #bb5500}
span.variable {color: #990000}
span.statement {color: #00f}
span.comment {color: #080}
span.perlpod {color: #080}
span.quote {color: #a66}
span.wquote {color: #600}
span.value {color: #a66}
span.regexp_statement {color: #5c5c5c}
span.tag {color: #00f}
span.url {color: #00f; text-decoration: underline}
