BODY, .logo { background: white; }

BODY {
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex 2em;
}

PRE     {
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  white-space: pre;
}

H1      {
  background: transparent;
  color: #5c5c5c;
  font-size: 120%;
}

H1 .basename {
  color: #990000;
}

H2      {
  font-size: 100%;
  font-weight: bold;
  color: #5c5c5c;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #eeeeee;
}

H3      {
  background: transparent;
  color: #5c5c5c;
  font-size: 100%;
}

H4      {
  background: transparent;
  color: #5c5c5c;
  font-size: 1em;
  font-weight: normal;
}

a.index {
  text-decoration: none;
  color: black;
}

a.index:visited {
  color: black;
}
a.index:hover {
  color: #990000;
  text-decoration: underline;
}
a.index:active {
  color: black;
}

H1 A {
  text-decoration: none;
  color: #5c5c5c;
}

H2 A { text-decoration: none; }
H3 A { text-decoration: none; }
H4 A { text-decoration: none; }


